.custom-google-btn {
    background-color: #FFEA00;
    color: black;
    font-weight: 500;
    padding: 15px;
    font-size: .9rem;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-google-btn:hover {
    background-color: white;
    color: #FFEA00;
}